<a href="https://colab.research.google.com/github/swarnava-96/Hypothesis-Testing/blob/main/One_Sample_T_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **T Test**

A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 2 types : 1. one sampled t-test 2. two-sampled t-test.

## One-sample T-test

The test will tell us whether means of the sample and the population are different.

In [1]:
# Assume the population to be

ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [2]:
# Length of the population

len(ages)

32

In [3]:
# Calculating the population mean

import numpy as np
ages_mean = np.mean(ages)
print(ages_mean)

30.34375

In [4]:
# Lets take a sample

sample_size = 10
age_sample = np.random.choice(ages, sample_size)
print(age_sample)

[24 16 55 43 27 27 16 65 28 25]

In [5]:
# Lets import T test one sample

from scipy.stats import ttest_1samp

In [6]:
Ttest, pvalue = ttest_1samp(age_sample, 30.34375)

In [7]:
# Lets print the pvalue as we are more interested in it

print(pvalue)

0.6741303459590877

In [8]:
# Hypothesis testing

if pvalue < 0.05:      # alpha value is 0.05 or 5%
  print("We are rejecting the null hypothesis")
else:
  print("We are accepting the null hypothesis")

We are accepting the null hypothesis

### Some More Examples
Consider the age of students in a college and in Class A

In [9]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(6)

# Population
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)

# Sample
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)

In [10]:
# Calculating the mean of the sample

classA_ages.mean()

46.9

In [11]:
# Calculationg the pvalue

_, pvalue = stats.ttest_1samp(a = classA_ages, popmean = school_ages.mean())
print(pvalue)

1.139027071016194e-13

In [12]:
# Calculating the population mean

school_ages.mean()

53.303333333333335

Clearly, we can see that the population mean and the sample mean are not same.

In [13]:
# Hypothesis testing

if pvalue < 0.05:
  print("Reject the null hypothesis")
else:
  print("Accept the null hypothesis")

Reject the null hypothesis