<a href="https://colab.research.google.com/github/swarnava-96/Hypothesis-Testing/blob/main/Paired_T_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Paired T-test**
When you want to check how different samples from the same group are, you can go for a paired T-test.

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
weight1 = [25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2 = weight1 + stats.norm.rvs(scale = 5, loc = -1.25, size = 15)

In [3]:
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[25.05662587 25.50030762 20.71872146 33.92101855 24.09950711 34.78330357
 23.65749817 35.06509622 25.7069042  34.01453507 30.87099873 35.85616311
 23.53774925 32.61702936 46.67074076]

In [4]:
weight_df = pd.DataFrame({"Weight10" : np.array(weight1),
                          "Weight20" : np.array(weight2),
                          "Weight_change" : np.array(weight2) - np.array(weight1)})

weight_df

    Weight10   Weight20  Weight_change
0         25  25.056626       0.056626
1         30  25.500308      -4.499692
2         28  20.718721      -7.281279
3         35  33.921019      -1.078981
4         28  24.099507      -3.900493
5         34  34.783304       0.783304
6         26  23.657498      -2.342502
7         29  35.065096       6.065096
8         30  25.706904      -4.293096
9         26  34.014535       8.014535
10        28  30.870999       2.870999
11        32  35.856163       3.856163
12        31  23.537749      -7.462251
13        30  32.617029       2.617029
14        45  46.670741       1.670741

In [5]:
# Paired t test

_, pvalue = stats.ttest_rel(a = weight1, b = weight2)
print(pvalue)

0.78829828860366

In [6]:
# Hypothesis testing

if pvalue < 0.05:
  print("Reject the null hypothesis")
else:
  print("Accept the null hypothesis")

Accept the null hypothesis